
@if (Context.User.Identity.Name != null)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav-bar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @Context.User.Identity.Name!
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a></li>
    </ul>
}